.idea/
result/
out/

.DS_Store
target/
*.iml
indeni_build.properties
.vagrant/
atlassian-ide-plugin.xml
MANIFEST.MF
*/dependency-reduced-pom.xml
webconsole.*
scalastyle-output.xml
db.conf
*.deb
# Eclipse ignores

.project
.classpath
.metadata
.settings/
.cache-main
.cache-tests

node_modules/
scripts/ssl/*.p12
scripts/ssl/*.jks
scripts/ssl/*.crt
scripts/ssl/*.csr
scripts/ssl/*.key

